/* selectors   are used to find the element whose property will be set*/
/* type of css selector  */
/* css element selector  */
/* css id selector */
/* css class selector */
/* the css groupin selector */

/* example of element selector */
body{
    background-color: #3A1F3B;
}
#tap{color:black;
    text-align: center;
background-color: whitesmoke;}
h1{
    color:black;
    background-color: whitesmoke;}

h2{
    color: purple;
    background-color:  aqua;
   text-align: center;
   font-size: 35px;
   border-width: 4px;
   border-color: #8a077f;
   border-style:dashed;
    border-radius: 11px;
   /* font */

}
p{
    color : aquamarine;
    font-size: 20px;
    /* space we will leave  */
    line-height: 1.5em;
    align-items: center;
}
a {
    text-decoration: none;
    color: aliceblue;
   background-color: rgb(47, 49, 174);
    padding:6px;
    cursor: pointer;
    border-radius: 4px;
}

a:hover{
    color:black;
    background-color: aqua;
}
a:visited{
    color:yellow;
}

/* example of id selector */
#top{
    color: hotpink;
    background-color:black;


}
ol{
    color: azure;
}
form{
    color: azure;
}
table{
    color: azure;
}
#mitr{
    color: azure;
}
ul{ 
    color: azure;
}
span{
    color: bisque;
    border: 2px solid hotpink;
}
details{
    color:azure
}
#AddYourself{
    color: purple;
    background-color:  aqua;
   text-align: center;
   font-size: 35px;
   border-width: 4px;
   border-color: #8a077f;
   border-style:dashed;
    border-radius: 8px;
    color: black;
    background-color:aqua;
    text-align: center;
}
#mirzapur{
    color: whitesmoke; 
    border: none;

}
#family{
    color:black;
    background-color: rgb(190, 166, 207);
    border: 2px solid blueviolet;
}
#detail{
    font-style: italic;
}
.HI{
    padding: 6px;
    border:2px solid blanchedalmond;
    margin : 2px;
}
h4{
    text-align: left;
     width: 300px;
    color: rgb(147, 193, 193);
   font-size: 30px;
}
.cont{
    color: rgb(211, 221, 214);
}


/*
.btn{
    background-color: rgb(47, 49, 174);
    padding:6px;
    cursor: pointer;
    border-radius: 4px;
}
/* example of class selector */
/* .bggood{ */
    /* background-color: rgb(255, 0, 0); */
/* border: 2px solid black; */
/* } */
/* grouping selector */
/* element ki grouping */
/* developer tools */
